*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

#navbarNav{
  margin-left: 40px;
}

img{
  width: 100%;
}

.MainImage{
  width: 85%;
  margin: 10px auto 10px auto;

}

.introduction{
  margin: 10px 0 10px 0;
  font-family: inherit;
  text-align: center;
}


.imageContainer{
  display: flex;
  justify-content: space-between;
}

.imageContainerPortfolio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 10px;
}

.image{
  display: flex;
  flex-flow: row;
  width: 33%;
}

.imageA{
  overflow: hidden;
  display: grid;
  border-radius: 15px;
  text-align: center;
}

.AboutMe{
  padding: 10px;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
}

.bait{
  margin: 10px 0 10px 0;
  background-color: #15D1FF;
  border-radius: 5px;
  text-align: center;
}

.bait p{
  font-size: 20px;
  font-family:sans-serif;
  color: white;

}

.blackBox{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: black;
}

.blackBox p{
  font-size: 20px;
  color: white;
  text-align: center;
}

.ratings{
  width: 90%;
  align-content: center;
  margin-left: 30px;
  margin-top: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

.comment{
  padding-top: 50px;
  margin-left: 0;
  padding-left: 0;
}

.comment p{
  padding-top: 30px;
  text-align: center;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 50px;
   width: 100%;
   background-color: #26734d;
   color: white;
   text-align: center;
}
